.sidebar {
  transition: width 0.5s ease 0s;
  width: 250px;
  min-height: 100vh;
  background-color: #424242;
  border-radius: 0px 10px 10px 0px;
}

.close {
  width: 50px;
}

.sidebar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  color: #ffffff3b;
  background: #00000054;
  margin-left: auto;
  cursor: pointer;
  transition: 0.5s;
  border: none;
}

.sidebar_btn:hover {
  color: #fff;
  background: #212121;
  cursor: pointer;
  transition: 0.5s;
}